extends layout

block content
  .container
    h2 Food Banks in your Area
    legend Displaying banks within #{radius}m of #{location}
    for bank in banks
      .row
        .col-md-8 #{bank.name}
        .col-md-4 Opens: #{bank.open_at}
      .row
        .col-md-8
        .col-md-4 Closes: #{bank.close_at}
      .row
        .col-md-4 Contact
        .col-md-8 Email: #{bank.email}
      .row
        .col-md-4
        .col-md-8 Phone: #{bank.phone}
      .row
        .col-md-12 Location: #{bank.location}