extends layout

block content
  .container
    h2 Food Banks in your Area

    table.table-responsive.table-hover
      captain
        p-lead Displaying banks within #{radius}m of #{location}
      thead-light
        tr.table-primary
          th.col Name
          th.col Distance
          th.col Open Hour
          th.col Close Hour
          th.col Email
          th.col Phone
          th.col Location



        for bank in banks
          tr
            td.col #{bank.name}
            td.col #{bank.distance_to}m
            td.col #{bank.open_at}
            td.col #{bank.close_at}
            td.col
              a.email #{bank.email}
            td.col
              a.phone #{bank.phone}
            td.col
              a.location #{bank.location}
  script.
    document.addEventListener("DOMContentLoaded", function(event) {
      linkEmail();
      linkPhone();
      linkLocation();
    });

    function linkEmail() {
      $(".email").each(function() {
        var email = $(this).text();
        $(this).attr("href", "mailto:" + email);
      })
    }

    function linkPhone() {
      $(".phone").each(function() {
        var phone = $(this).text();
        $(this).attr("href", "tel:+1-" + phone);
      })
    }

    function linkLocation() {
      $(".location").each(function() {
        var location = $(this).text();
        $(this).attr("href", "https://www.google.com/maps/search/?api=1&query=" + escape(location));
      })
    }