extends layout

block content
  .container
    h2 Food Banks in your Area
    legend Displaying banks within #{radius}m of #{location}
    for bank in banks
      .row
        h3 #{bank.name} (#{bank.distance_to}m)
      .row
        .col-sm-2 Hours:
        .col-sm-10 
          .row Opens at #{bank.open_at}
          .row Closes at #{bank.close_at}
      .row
        .col-sm-2 Contact:
        .col-sm-10
          .row
            a.email #{bank.email}
          .row
            a.phone #{bank.phone}
      .row
        .col-sm-2 Location:
        .col-sm-10
          a.location #{bank.location}
  script.
    document.addEventListener("DOMContentLoaded", function(event) {
      linkEmail();
      linkPhone();
      linkLocation();
    });

    function linkEmail() {
      $(".email").each(function() {
        var email = $(this).text();
        $(this).attr("href", "mailto:" + email);
      })
    }

    function linkPhone() {
      $(".phone").each(function() {
        var phone = $(this).text();
        $(this).attr("href", "tel:+1-" + phone);
      })
    }

    function linkLocation() {
      $(".location").each(function() {
        var location = $(this).text();
        $(this).attr("href", "https://www.google.com/maps/search/?api=1&query=" + escape(location));
      })
    }