extends layout

block content
  h1 #{name}'s Donations

  table.table-responsive.table-hover
    captain
    thead-light
    tr.table-primary
      th.col-sm-4 Description
      th.col-sm-6 Date
      th.col-sm-2 Details

    for d in donations
          tr
            td.col-sm-4= d.description
            td.col-sm-6= d.date
            td.col <a href=donationDetails?id=#{d.id}>Details 


