extends layout

block content
  .container
    h1 Welcome #{name}!
    if (numOfDonations > 0)
      .row
        h2 You have #{numOfDonations} donations to confirm.
      for donation in unconfirmedDonations
        .row 
          td.col #{donation.donation_desc}
          td.col
            form(id="#{donation.donation_id}")
              button.btn.btn-primary.confirm(type="button", onclick="submitConfirmation(#{donation.donation_id})", id="#{donation.donation_id}") Confirm

    else
      .row
        h2 You do not have any donations to confirm at this time.

    script.
        function submitConfirmation(id) {
          $.post("/confirmDonation", { donId: id }, function(data) {
            alert("Donation confirmed");
            console.log(data);
          });
        }
